/********* Général **********/

body{
	font-family: 'Abel', sans-serif;
	font-size: 19px;
	background-color: #F3F3F3;
}


/********* Navbar **********/

.navbar{
	background-color: #000000;
	box-shadow: 10px 0px 30px grey;
	height : 85px;
}

.navbar-inverse .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 32px;
	color: white;
	margin-top : 7px;

}

.navbar-brand span{
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	color: #99CC33;	
	line-height: 2;
	padding-left: 2px;
}

.navbar-nav{
	float: right;
	margin-top: 40px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding : 10px 12px;
}

.navbar-inverse .navbar-nav>li>a:hover	{
	color: #99CC33;

}


