.navbar-inverse .navbar-brand {
	font-family: 'Tillana', cursive;
	font-size: 30px;
	color: white;
	margin-right: 20px;
	margin-top: 8px;
}

.navbar-brand span{
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #99CC33;
}

body{
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

.navbar{
	min-height: 80px;
	background-color: #000000;
}

.navbar-nav{
	float: right;
	margin-top: 33px;
}

.navbar-inverse .navbar-nav>li>a
{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover	
{
	color: #99CC33;
}




