/********* Général **********/

body{
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	background-color: #F3F3F3;
	text-align: justify;
}

a, a:hover, a:visited{
	color : #99cc33;
	text-decoration: none;
	font-weight: bold;
}

section{
	border-bottom: 1px solid #E3E5E1;
	background-color: rgba(250,250,250,0.4);	
}

section.col-sm-12{
	padding:30px 60px 60px 60px;
}

section:last-child{
	border :none;
}

h1{background-color: rgba(250,250,250,0.4);
	color : #99cc33;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-bottom : 30px;
	padding-top:60px;

}

h3{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul{
	padding:0px;
}

.btn, input[type="button"], a.btn{
	background-color : #99cc33;
	margin: 30px 0px 0px 0px;
	font-weight: bold;
	border-radius: 2px;
	min-width : 100px;	
	font-size : 17px;
	border : none;
	color : white;
	padding: 7px;
}

.btn:hover, .btn:focus, input[type="button"]:hover, input[type="button"]:focus{
	background-color :#A3DA36;
	color : white;
}

.carousel img{
	width : 100%;
}

.carousel{
	padding :0px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.carousel-indicators li{
	border : 1px solid  #B5B5B5;
}

.top-page{
	position: fixed;
	right : 30px;
	bottom : 30px;
	top: auto;
	color : #d2d2d2;
	cursor : pointer;
	text-align : center;
	font-size: 15px;
	display:none;
}

.top-page span{
	display:block;
}

.glyphicon-circle-arrow-up{
	font-size: 25px;
}

.green{
	color: #99cc33;
}
/********* Navbar **********/

.navbar{
	background-color: #000000;
	box-shadow: 10px 0px 30px rgba(0,0,0,0.4);
	min-height : 85px;
	margin-bottom: 0px;
	border-radius: 0px;
	z-index:100;
}

.navbar-header{
	min-height : 85px;
	padding:0px;
}

.navbar a{
	font-weight: normal;
}

.navbar-inverse .navbar-brand, .navbar-brand a, .navbar-brand a:hover{
	font-family: 'Abril Fatface', cursive;
	font-size: 32px;
	color: white;
}

.navbar-brand span{
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	color: #99CC33;	
	line-height: 2.3;
	padding-left: 3px;
}

.navbar-nav{
	margin-top: 40px;
	text-align: center;
	float:right;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding : 10px 12px;
}

.navbar-inverse .navbar-nav>li>a:hover	{
	color: #99CC33;
}

.navbar-header img{
	width : 100px;
	padding:0px;
}

/****************footer**************/

footer{
	background-color: black;
	height: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #99CC33;
	margin-top: 130px;
	font-size: 14px;
}

footer p{
	text-align: center;
	color: #ffffff;
}

footer a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

footer a:hover{
	color: #99CC33;
	text-decoration: none;
}

footer ul{
	display: inline-block;
	list-style-type: none;
}
footer li{
	display: inline;
	padding: 0px 3px;
}

/*----------------------------------------------------PAGE ACCUEIL----------------------------------------*/
#categories-accueil{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#categories-accueil .col-lg-3{
	padding: 4px;
}

#categories-accueil a.btn{
	margin:auto;
}

.categorie-produits{
	background-color: rgba(250,250,250,0.8);
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 20px;
}

.categorie-produits p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.img-circle{
	border : 5px solid #E3E5E1;
	width : 120px;
	height : 120px;
}

/*--------------------------------------------------------PAGE PRODUITS---------------------------------------------*/

/********* Carousel Produits*******/

.carousel-caption{
	top:20px;
	text-align: left;
	height : 300px;
	color : grey;
	padding: 0px;
}

.carousel-caption h2{
	margin-bottom: 20px;
	margin-top:30px;
}

/**********Contenu Produits ********/

#categories img{
	margin:auto;
}

#categories p{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
}

#categories li{
	margin-bottom: 20px;
	list-style:none;
	padding : 30px 0px;
	background-color: rgba(250,250,250,0.8);
	border-radius: 10px;
}

#wrap img{
	border-radius: 5px;
	margin-bottom: 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	width : 100%;
}

/*--------------------------------------------------PAGE TEMOIGNAGE -----------------------------------------*/

#deroulant{
	margin : auto;	
	overflow : hidden;
	position: relative;
	height: 71px;
	
}
.thumbnails{
	position : absolute;
	left : 0px;				
	white-space: nowrap;	
	margin: auto;
	padding : 0px 2px;
}

.thumbnail{
	display : inline;
	margin-bottom: 5px;
	height : 71px;
	cursor : pointer;
}

#zoom{
	border : 5px solid white;
	border-radius: 10px;
	padding : 0px;
	margin-top : 10px;
}

.precedent, .suivant{
	cursor : pointer;
	color : #99cc33;
	padding : 17px 0px 17px 15px;
	font-size: 30px;
}

#photos{
	margin-top: 20px;				
	margin-bottom: 20px;
	padding : 40px 0px;
	background-color: rgba(250,250,250,0.8);
	border-radius: 10px;
}

/*---------------------------------------------PAGE QUI-SOMMES-NOUS ?---------------------------------------*/

#portrait img{
	float : left;
	width : 140px;
	margin-right : 20px;
	border-radius: 70px;
	border : 5px solid #E3E5E1;
}

#citation{
	color : #99cc33;
	font-style: italic;
	font-weight: bold;
	margin-top : 20px;
}

#citation span{
	font-size : 30px;
	color : #99cc33;
	line-height : 1px;
	font-weight: bold;
}

#rejoindre img{
	float : right;
	width : 35%;
	margin-left: 25px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}



/*----------------------------------------------------- PAGE CONTACT-----------------------------------------*/

textarea.form-control{
	height: 200px;
}

.form-control, .form-top-right{
	text-align: left;
}

.form-box{
	margin-top: 30px;
	padding:0px;
}

/*------------------------------------------- RESPONSIVE --------------------------------------*/

.navbar-toggle{
	margin-top:20px;
}

.collapse{
	padding:0;
}

/*--------------- PORTABLES-----------*/
@media(max-width:767px){
	section.col-sm-12{
		padding:30px 30px 40px 30px;
	}
	.container{
		padding:0px;
	}

	/*Navbar*/	
	.navbar-nav{
		clear:both;
	}

	/*Porduit*/
	.carousel-caption input{
		display:none;
	}
	.carousel-produit{
		min-height: 150px;
	}
	.carousel-produit img{
		min-height: 150px;
		width:auto;
	}

	/*Témoignage*/
	.thumbnail, #deroulant{
		height:60px;
	}
	.precedent, .suivant{
		padding : 15px 0px 15px 10px;
		font-size: 25px;
	}
}

/*------------- TABLETTES ----------------*/
@media(max-width: 991px){
	.container{
		width:100%;		
	}

	.top-page{
		right:5px;
		bottom :5px;
	}

	/*Produits*/
	.carousel-caption{
		font-size:16px;
	}
	.carousel-caption h2{
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.carousel-indicators{
		left:50px;
		bottom:5px;
	}
}

/*------------- ECRANS MOYENS -------------*/
@media (max-width: 1199px){

	/*accueil*/
	#categories-accueil .col-lg-3{
		padding: 8px;
	}
	.categorie-produits{
		min-height:380px;
	}

	/*Produit*/
	.carousel-caption{
		top:7px;
	}
	.carousel-caption input{
		margin-top: 5px;
	}
	.carousel-indicators{
		bottom:10px;
	}
}

/*--------AUTRE-------------*/

@media (max-width: 873px){
	.navbar-nav{
		margin:0px;
	}
}


@media (max-width: 660px){
	/*Produit*/
	.carousel-caption h2{
		display:none;
	}
	.carousel-caption li:last-child, .carousel-caption li:first-child{
		display : none;
	}
	.carousel-caption ul{
		padding-top: 20px;
	}
	.carousel-produit .item>img{
		max-width:150%;
		margin-left: -25%;
	}
}



